.user-input {
  width: 50%;
  margin: 0 auto;
}

.champion-game-image {
  margin-top: 10%;
}

.no-margin {
  margin: 0;
}

.kill-death {
  font-size: 1.5em;
}

.nav-user-name {
  margin-right: 20px;
}

.game-item-img {
  max-width: 64px;
  max-height: 64px;
}

.register-container {
  margin-top: 10vh;
}
